* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    box-sizing: border-box;
}

body {
    /* background: #2A7B9B;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 28%, rgba(237, 221, 83, 1) 100%); */
    background-image: url('images/earth.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}